{% extends "base.html" %}
{% set artist_id = artist.Id or '' %}

{% block content %}
<h2>{{ artist.Name }}</h2>

{% if releases %}
<ul>
  {% for release in releases %}
  <li>
    <a href="/release/{{ release.Id }}">{{ release.Title }}</a>
    {% if release.Year %} ({{ release.Year }}){% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No releases found for this artist. You may want to add some :)</p>
{% endif %}

{% set id_fields = [
('applemusic_id', artist.AppleMusicId, 'Apple Music ID'),
('deezer_id', artist.DeezerId, 'Deezer ID'),
('discogs_id', artist.DiscogsId, 'Discogs ID'),
('musicbrainz_id', artist.MusicbrainzId, 'MusicBrainz ID'),
('spotify_id', artist.SpotifyId, 'Spotify ID'),
('tidal_id', artist.TidalId, 'Tidal ID')
] %}
<table class="id-table">
  <tr>
    {% for id_type, field_value, label in id_fields[:3] %}
    <td>
      <form action="/artist/{{ artist.Id }}/set-{{ id_type }}" method="post" class="id-form">
        <label for="{{ id_type }}">{{ label }}</label>
        <input type="text" id="{{ id_type }}" name="{{ id_type }}" placeholder="{{ label }}"
          value="{{ field_value or '' }}">
        <button type="submit" class="btn">Save</button>
      </form>
    </td>
    {% endfor %}
  </tr>
  <tr>
    {% for id_type, field_value, label in id_fields[3:] %}
    <td>
      <form action="/artist/{{ artist.Id }}/set-{{ id_type }}" method="post" class="id-form">
        <label for="{{ id_type }}">{{ label }}</label>
        <input type="text" id="{{ id_type }}" name="{{ id_type }}" placeholder="{{ label }}"
          value="{{ field_value or '' }}">
        <button type="submit" class="btn">Save</button>
      </form>
    </td>
    {% endfor %}
  </tr>
</table>
<hr>


<div class="artist-links">
  {% if artist.AppleMusicId %}
  <a class="ext-link" href="https://music.apple.com/artist/{{ artist.AppleMusicId }}" target="_blank"
    title="Apple Music">
    <img src="/static/icons/apple.svg" alt="Apple Music" width="24" height="24"
      style="vertical-align: middle; margin-right: 6px;" />
    Apple Music
  </a>
  {% endif %}

  {% if artist.DeezerId %}
  <a class="ext-link" href="https://www.deezer.com/artist/{{ artist.DeezerId }}" target="_blank" title="Deezer">
    <img src="/static/icons/deezer.svg" alt="Deezer" width="24" height="24"
      style="vertical-align: middle; margin-right: 6px;" />
    Deezer
  </a>
  {% endif %}

  {% if artist.DiscogsId %}
  <a class="ext-link" href="https://www.discogs.com/artist/{{ artist.DiscogsId }}" target="_blank" title="Discogs">
    <img src="/static/icons/discogs.svg" alt="Discogs" width="24" height="24"
      style="vertical-align: middle; margin-right: 6px;" />
    Discogs
  </a>
  {% endif %}

  {% if artist.MusicbrainzId %}
  <a class="ext-link" href="https://musicbrainz.org/artist/{{ artist.MusicbrainzId }}" target="_blank"
    title="MusicBrainz">
    <img src="/static/icons/musicbrainz.svg" alt="MusicBrainz" width="24" height="24"
      style="vertical-align: middle; margin-right: 6px;" />
    MusicBrainz
  </a>
  {% endif %}

  {% if artist.SpotifyId %}
  <a class="ext-link" href="https://open.spotify.com/artist/{{ artist.SpotifyId }}" target="_blank" title="Spotify">
    <img src="/static/icons/spotify.svg" alt="Spotify" width="24" height="24"
      style="vertical-align: middle; margin-right: 6px;" />
    Spotify
  </a>
  {% endif %}

  {% if artist.TidalId %}
  <a class="ext-link" href="https://tidal.com/browse/artist/{{ artist.TidalId }}" target="_blank" title="Tidal">
    <img src="/static/icons/tidal.svg" alt="Tidal" width="24" height="24"
      style="vertical-align: middle; margin-right: 6px;" />
    Tidal
  </a>
  {% endif %}
</div>



{% endblock %}